.title {
  position: sticky;
  top: 0;
}

.links {
  position: sticky;
  top: 20px;
  height: calc(100vh - 40px);
}

.links a {
  display: block;
  color: var(--base-color-700);
  text-wrap: nowrap;
}

.links a:hover {
  color: var(--primary-color);
}

.indent-1 {
  margin-left: 0;
}

.indent-2 {
  margin-left: 0;
}

.indent-3 {
  margin-left: 10px;
}

.indent-4 {
  margin-left: 20px;
}

.indent-5 {
  margin-left: 30px;
}

.indent-6 {
  margin-left: 40px;
}

.selected {
  font-weight: bold;
}
