.nav {
  overflow-y: auto;
  min-width: 240px;
}

.nav::-webkit-scrollbar {
  width: 15px;
  background: transparent;
  display: none;
}

.nav:hover::-webkit-scrollbar {
  display: block;
}

.nav::-webkit-scrollbar-track {
  border: 7px solid rgba(0, 0, 0, 0);
  background-color: var(--border-color);
  background-clip: padding-box;
}

.nav::-webkit-scrollbar-thumb {
  border: 7px solid rgba(0, 0, 0, 0);
  background-color: var(--font-color);
  background-clip: padding-box;
}

.nav::-webkit-scrollbar-thumb:hover {
  border: 5px solid rgba(0, 0, 0, 0);
  background-color: var(--font-color);
  background-clip: padding-box;
}

.nav.sticky {
  position: sticky;
  top: var(--spacing-8);
}

.nav .item {
  color: var(--font-color-muted);
  border-left: 1px solid var(--border-color);
  padding: var(--padding);
  text-decoration: none;
}

.nav .item:hover {
  color: var(--font-color);
}

.nav .item.selected {
  color: var(--font-color);
  font-weight: 500;
  border-color: var(--primary-color);
  background-color: var(--highlight-color);
}

.header {
  padding: var(--padding-y) 0;
}
