:root {
  --font-family: var(--font-inter);
}

html,
body {
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: var(--font-size);
  background-color: var(--background-color);
  scrollbar-gutter: stable;
}

a, a:active, a:hover {
  color: var(--font-color);
  text-decoration: none;
}
