.container {
  position: relative;
  background: var(--background-color);
  border: 1px solid var(--base-color-1);
  padding: var(--spacing-5);
  border-radius: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre.container code {
  font-family: var(--font-family-code);
  color: var(--font-color);
  padding: 0;
  border: 0;
  background: transparent;
}

.button {
  border: 0;
  position: absolute;
  right: var(--spacing-5);
  top: var(--spacing-5);
  cursor: pointer;
  background: transparent;
}

.copy {
  color: var(--base-color-4);
}

.copy:hover {
  color: var(--base-color-1);
}

.check {
  color: var(--success-color);
}
