.content {
  font-size: 16px;
  margin-bottom: 60px;
}

.content > p {
  color: var(--font-color);
  line-height: 1.8;
}

.content a {
  color: var(--font-color);
  font-weight: 600;
  text-decoration: underline var(--border-color);
  text-underline-offset: 4px;
}

.content a:hover {
  color: var(--font-color);
  text-decoration: underline var(--primary-color);
}

.content img {
  display: block;
  max-width: 100%;
  margin: 4rem auto;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .1);
}

.content h1 {
  font-size: var(--font-size-8);
  letter-spacing: var(--letter-spacing-1);
  margin: 0 0 var(--spacing-4) 0;
}

.content h2 {
  font-size: var(--font-size-6);
  letter-spacing: var(--letter-spacing-1);
  margin: var(--spacing-8) 0 var(--spacing-4) 0;
}

.content h3 {
  font-size: var(--font-size-5);
  letter-spacing: var(--letter-spacing-1);
  margin: var(--spacing-7) 0 var(--spacing-4) 0;
}

.content *[id] {
  scroll-margin-top: var(--spacing-4);
}

.content ul {
  list-style: disc;
}

.content ol {
  list-style: decimal;
}

.content pre {
  margin: var(--spacing-5) 0;
}

.content code {
  font-size: 14px;
}

.content code:not([class]) {
  font-family: var(--font-family-code);
  color: var(--font-color);
  padding: var(--spacing-1);
  border-radius: var(--border-radius);
  background: var(--base-color-50);
  font-weight: var(--font-weight-bold);
}
