.links {
  position: sticky;
  top: 30px;
  height: max-content;
}

.links a.link {
  display: block;
  color: var(--font-color-muted);
  font-size: var(--font-size);
  text-wrap: nowrap;
  text-decoration: none;
}

.links a.link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.indent-1 {
  margin-left: 0;
}

.indent-2 {
  margin-left: 0;
}

.indent-3 {
  margin-left: 10px;
}

.indent-4 {
  margin-left: 20px;
}

.indent-5 {
  margin-left: 30px;
}

.indent-6 {
  margin-left: 40px;
}

.links a.selected {
  color: var(--primary-color);
}
