.nav {
  position: sticky;
  top: 30px;
  height: max-content;
}

.nav .item {
  color: var(--font-color-muted);
  padding: 0;
  border-radius: 0;
  border-left: var(--border-size-1) solid var(--border-color);
}

.nav .item a {
  color: currentColor;
  width: 100%;
  padding: var(--padding-y) var(--padding-x);
  text-decoration: none;
}

.nav .item a:hover {
  color: var(--primary-color);
}

.nav .item.selected {
  color: var(--font-color);
  border-color: var(--primary-color);
}

.items header {
  padding: var(--padding-y) 0;
}
